@media (max-width: 1800px) {
    .container {
        max-width: 1360px;
    }
    .header {
        &_menu {
            grid-column: 4/9;
            padding: 0 20px 0 20px;
        }
    }
    .firstScreen {
        &_learnFor {
            h1 {
                font-size: 80px;
            }
        }
        &_go {
            margin-top: 180px;
            &-choose {
                font-size: 24px;
            }
        }
    }
    .startSoon {
        &_card {
            margin-top: 90px;
        }
    }
    .dreamJob {
        &_header {
            h2 {
                font-size: 64px;
                line-height: 70px;
            }
        }
        &_subscribe {
            p {
                font-size: 23px;
            }
        }
        &_item {
            margin-right: 80px;
            margin-bottom: 35px;
            &_inform {
                &-header {
                    font-size: 35px;
                }
                &-descr {
                    font-size: 20px;
                }
            }
        }
        .dash {
            &::before {
                top: 150px;
                height: 70px;
            }
        }
        &_benefits {
            margin-top: 100px;
        }
        &_viewer {
            margin-top: 100px;
            &_experience {
                height: 120px;
                top: -60px;
                h5 {
                    font-size: 75px;
                }
                p {
                    font-size: 25px;
                }
            }
            &::before {
                width: 100%;
            }
        }
    }
    .choosingProfession {
        &_categories {
            grid-column: 2/12;
        }
        &_line {
            grid-column: 2/12;
            span {
                left: 1%;
            }
        }
        &_card {
            margin-top: 100px;
            &-header {
                margin-top: 20px;
                font-size: 35px;
                line-height: 36px;
            }
        }
    }
    .feedback {
        &_card-message {
            height: 270px;
        }
    }
    .footer {
        &_subscribe {
            grid-column: 9/13;
        }
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1100px;
    }
    .header {
        &_logo {
            font-size: 36px;
        }
        &_menu {
            font-size: 18px;
            padding: 0 35px 0 35px;
        }
        &_account {
            font-size: 18px;
        }
        &_button {
            margin-left: 30px;
        }
    }
    .firstScreen{
        padding: 50px 0 70px;
        &_learnFor {
            h1 {
                font-size: 70px;
                margin-top: 50px;
            }
        }
        &_go {
            height: 130px;
            padding-left: 40px;
            display: flex;
            margin-top: 130px;
            &-go {
                width: 140px;
                font-size: 40px;
                &:before {
                    width: 140px;
                    height: 130px;
                    top: -140px;
                }
            }
            &:hover {
                .firstScreen_go-go {
                    &:before {
                        transform: translateY(140px);
                    }
                }
            }
        }
        .textBlock {
            left: -2%;
        }
        .active {
            .textBlock {
                left: 20%;
                bottom: 87px
            }
        }
        &_slider {
            grid-template-rows: 550px;
        }
        &_slideOne {
            padding-left: 25px;
        }
        &_slideTwo {
            padding-left: 25px;
            
        }
        &_slideThree {
            padding-left: 25px;
        }
    }
    .startSoon {
        padding-top: 70px;
        &_card {
            margin-top: 80px;
            h4 {
                line-height: 30px;
                font-size: 30px;
                margin-top: 18px;
            }
            span {
                font-size: 24px;
                margin-top: 4px;
            }
        }
    }
    .dreamJob {
        &_header {
            h2 {
                font-size: 51px;
            }
        }
        &_subscribe {
            grid-column: 8/13;
            p {
                font-size: 23px;
                width: 450px;
            }
        }
        &_item {
            margin-right: 30px;
            margin-bottom: 25px;
            height: 150px;
            &_inform {
                margin-left: 20px;
                &-header {
                    font-size: 32px;
                }
                &-descr {
                    margin-top: 7px;
                    font-size: 19px;
                }
            }
        }
        .dash {
            &::before {
                top: 125px;
                height: 70px;
            }
        }
        &_benefits {
            margin-top: 60px;
        }
        &_viewer {
            margin-top: 100px;
            &_experience {
                height: 108px;
                top: -54px;
                border-radius: 29px;
                padding: 0 10px;
                h5 {
                    font-size: 55px;
                }
                p {
                    font-size: 21px;
                    line-height: 28px;
                }
                span {
                    height: 63px;
                }
            }
            &::before {
                height: 90%;
            }
        }
    }
    .choosingProfession {
        &_header {
            font-size: 51px;
        }
        &_categories {
            grid-column: 1/13;
        }
        &_line {
            grid-column: 1/13;
            span {
                left: 0%;
            }
        }
        &_card {
            margin-top: 80px;
            &-header {
                font-size: 30px;
                line-height: 30px;
                margin-top: 18px;
            }
            &-descr {
                font-size: 21px;
                margin-top: 4px; 
            }
            &-picture::before {
                height: 98%;
                width: 99%;
            }
            &-four {
                padding-right: 15px;
            }
        }
    }
    .feedback {
        &_header {
            font-size: 51px;
            br {
                display: none;
            }
        }
        &_slider {
            margin-top: 60px;
        }
        &_card {
            padding: 38px 28px;
            &-message {
                font-size: 22px;
                height: 240px;
            }
            &-who {
                h5 {
                    font-size: 22px;
                }
                span {
                    font-size: 18px;
                }
            }
            &-photo {
                img {
                    width: 76px;
                    height: 76px;
                }
            }
        }
    }
    .footer {
        &_header {
            font-size: 38px;
        }
        &_subscribe {
            &-header {
                font-size: 30px;
            }
            &-email {
                font-size: 14px;
                padding-left: 15px;
            }
            &-form {
                margin-top: 20px;
            }
        }
        &_categories {
            font-size: 22px;
            row-gap: 0px;
        }
        &_line {
            margin-top: 50px;
        }
    }
}

//---------------------------------------------------------1200
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &_logo {
            font-size: 30px;
        }
        &_menu {
            font-size: 15px;
        }
        &_account {
            font-size: 15px;
        }
    }
    .firstScreen {
        padding-bottom: 70px;
        h1 {
            font-size: 55px;
        }
        .textBlock {
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100px;
                height: 100px;
                left: 10px;
                top: -20px;
                background: #353535;
                border-radius: 18px;
                z-index: 0;
            }
        }
        .slideText {
            font-size: 33px;
        }
        &_slideOne {
            p {
                right: 50px;
            }
        }
        &_go {
            margin-top: 180px;
            padding-left: 30px;
            height: 100px;
            border-radius: 15px;
            &-choose {
                font-size: 18px;
            }
            &-go {
                width: 100px;
                font-size: 33px;
                border-radius: 15px;
            }
        }
        .textBlock {
            left: -10%;
        }
        .active {
            .textBlock {
                bottom: 70px;
                left: 20%;
            }
        }
    }
    .startSoon {
        padding: 70px 0 60px 0;
        h2 {
            font-size: 55px;
        }
        &_card {
            margin-top: 60px;
            h4 {
                margin-top: 15px;
                font-size: 24px;
                line-height: 24px;
            }
            span {
                margin-top: 8px;
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
    .dreamJob {
        padding: 60px 0 60px 0;
        &_header {
            h2 {
                font-size: 45px;
                line-height: 60px;
            }
        }
        &_subscribe {
            grid-column: 8/13;
            p {
                font-size: 20px;
                width: 395px;
            }
        }
        &_item {
            margin-right: 20px;
            margin-bottom: 3px;
            height: 140px;
            &_inform {
                margin-left: 20px;
                &-header {
                    font-size: 29px;
                    line-height: 34px;
                }
                &-descr {
                    margin-top: 7px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        .dash {
            &::before {
                top: 126px;
                height: 35px;
            }
        }
        &_benefits {
            margin-top: 60px;
        }
        &_viewer {
            margin-top: 90px;
            &_experience {
                height: 90px;
                top: -45px;
                border-radius: 29px;
                padding: 0 10px;
                h5 {
                    font-size: 46px;
                }
                p {
                    line-height: 24px;
                    font-size: 18px;
                }
                span {
                    height: 43px;
                }
            }
            &::before {
                height: 92%;
            }
        }
    }
    .choosingProfession {
        padding: 60px 0;
        &_header {
            font-size: 55px;
        }
        &_categories {
            margin-top: 40px;
        }
        &_category {
            font-size: 22px;
        }
        &_line {
            span {
                left: 2%;
                width: 165px;
            }
        }
        .allCategory {
            font-size: 22px;
        }
        &_card {
            margin-top: 60px;
            padding-right: 20px;
            &-header {
                margin-top: 15px;
                font-size: 24px;
                line-height: 24px;
            }
            &-descr {
                margin-top: 8px;
                font-size: 18px;
                line-height: 18px; 
            }
            &-three {
                padding-right: 10px;
            }
            &-four {
                padding-right: 9px;
                padding-left: 10px;
            }
        }
    }
    .feedback {
        padding: 60px 0;
        &_header {
            font-size: 55px;
        }
        &_slider {
            margin-top: 40px;
        }
        &_control {
            margin-top: 40px;
        }
        &_card {
            margin: 0 10px;
            padding: 28px 20px;
            &-message {
                font-size: 22px;
                height: 255px;
            }
            &-who {
                h5 {
                    font-size: 20px;
                }
                span {
                    font-size: 18px;
                }
            }
            &-photo {
                img {
                    width: 76px;
                    height: 76px;
                }
            }
        }
    }
    .footer {
        padding-top: 60px;
        &_header {
            font-size: 32px;
        }
        &_categories {
            font-size: 20px;
        }
        &_subscribe {
            &-header {
                font-size: 25px;
            }
            &-form {
                height: 80px;
                margin-top: 15px;
            }
            &-email {
                height: 80px;
            }
            &-btn {
                height: 80px;
                width: 80px;
                &::before {
                    height: 80px;
                    width: 80px;
                }
            }
        }
        &_line {
            margin-top: 35px;
        }
        &_underLine {
            height: 80px;
        }
        &_social {
            gap: 25px;
            padding: 0 20px;
        }
    }
}

//---------------------------------------------------------992
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &_logo {
            font-size: 25px;
        }
        &_menu {
            display: none;
        }
        &_account {
            display: none;
        }
    }
    .dropDown_hamburger {
        display: flex;
    }
    .firstScreen {
        padding-top: 20px;
        padding-bottom: 50px;
        &_learnFor {
            h1 {
                font-size: 48px;
                margin-top: 50px;
            }
        }
        &_go {
            height: 80px;
            padding-left: 15px;
            margin-top: 80px;
            border-radius: 18px;
            &-go {
                width: 80px;
                font-size: 28px;
                border-radius: 18px;
                &:before {
                    display: none;
                }
            }
            &:hover {
                .firstScreen_go-go {
                    transition: none;
                    &:before {
                        transition: none;
                    }
                }
            }
        }
        .slideText {
            font-size: 26px;
        }
        &_slider {
            grid-template-rows: 390px;
        }
        &_slideOne {
            padding-left: 15px;
            p {
                font-size: 28px;
                line-height: 33px;
                bottom: 60px;
            }
        }
        &_slideTwo {
            padding-left: 15px;
        }
        &_slideThree {
            padding-left: 15px;
        }
        .textBlock {
            left: -22%;
            bottom: 90px;
            font-size: 28px;
            &::before {
                width: 70px;
                height: 70px;
                left: 30px;
                top: -20px;
            }
        }
        .active {
            .textBlock {
                bottom: 40px;
                left: 20%;
            }
        }
    }
    .startSoon {
        padding: 50px 0 40px 0;
        h2 {
            font-size: 48px;
            line-height: 48px;
        }
        &_card {
            margin-top: 50px;
            h4 {
                margin-top: 10px;
                font-size: 20px;
                line-height: 20px;
            }
            span {
                margin-top: 5px;
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
    .dreamJob {
        padding: 40px 0 40px 0;
        &_header {
            h2 {
                font-size: 33px;
                line-height: 45px;
            }
        }
        &_subscribe {
            grid-column: 8/13;
            p {
                font-size: 15px;
                line-height: 25px;
                width: 295px;
            }
        }
        &_item {
            margin-right: 10px;
            margin-bottom: 3px;
            height: 120px;
            &_inform {
                margin-left: 10px;
                &-header {
                    font-size: 24px;
                    line-height: 28px;
                }
                &-descr {
                    margin-top: 7px;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            img {
                width: 65px;
            }
        }
        .dash {
            &::before {
                top: 110px;
                left: 32px;
                height: 25px;
            }
        }
        &_benefits {
            margin-top: 40px;
        }
        &_viewer {
            margin-top: 90px;
            &_experience {
                height: 80px;
                top: -40px;
                border-radius: 29px;
                padding: 0 10px;
                h5 {
                    font-size: 36px;
                }
                p {
                    line-height: 21px;
                    font-size: 14px;
                }
                span {
                    height: 53px;
                }
            }
            &::before {
                height: 87%;
            }
        }
    }
    .choosingProfession {
        padding: 40px 0;
        &_header {
            font-size: 44px;
            line-height: 44px;
        }
        &_categories {
            margin-top: 30px;
        }
        .allCategory {
            font-size: 19px;
        }
        &_category {
            font-size: 19px;
            margin-right: 20px;
        }
        &_line {
            span {
                left: 0%;
                margin-top: -15px;
                width: 144px;
                height: 3px;
            }
        }
        &_card {
            margin-top: 50px;
            padding-right: 20px;
            &-header {
                margin-top: 10px;
                font-size: 20px;
                line-height: 20px;
            }
            &-descr {
                margin-top: 5px;
                font-size: 15px;
                line-height: 15px; 
            }
            &-three {
                padding-right: 10px;
            }
            &-four {
                padding-right: 0px;
                padding-left: 10px;
            }
        }
    }
    .feedback {
        padding: 40px 0;
        &_header {
            font-size: 44px;
            line-height: 44px;
        }
        &_slider {
            margin-top: 40px;
        }
        &_control {
            margin-top: 40px;
        }
        &_card {
            padding: 20px 20px;
            &-message {
                font-size: 20px;
                height: 195px;
            }
            &-photo {
                img {
                    width: 65px;
                    height: 65px;
                }
            }
        }
    }
    .footer {
        padding-top: 40px;
        &_header {
            font-size: 24px;
            line-height: 29px;
        }
        &_categories {
            font-size: 16px;
            line-height: 29px;
        }
        &_subscribe {
            grid-column: 8/13;
            &-header {
                font-size: 22px;
                line-height: 29px;
            }
            &-form {
                margin-top: 25px;
                height: 70px;
            }
            &-email {
                height: 70px;
                border-radius: 15px;
                font-size: 14px;
                padding-left: 25px;
            }
            &-btn {
                height: 70px;
                width: 70px;
                border-radius: 15px;
                span {
                    font-size: 30px;
                }
                &::before {
                    height: 70px;
                    width: 70px;
                    border-radius: 15px;
                }
            }
        }
        &_line {
            margin-top: 25px;
        }
        &_underLine {
            height: 60px;
            p {
                font-size: 14px;
            }
        }
        &_social {
            gap: 20px;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}

//---------------------------------------------------------768
@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 0 10px;
    }
    .header {
        &_logo {
            grid-column: 1/4;
        }
    }
    .firstScreen {
        padding-top: 20px;
        &_learnFor {
            h1 {
                font-size: 36px;
                margin-top: 35px;
            }
        }
        &_go {
            height: 70px;
            width: 210px;
            padding-left: 10px;
            display: flex;
            margin-top: 135px;
            border-radius: 18px;
            &-choose {
                font-size: 14px;
            }
            &-go {
                width: 70px;
                font-size: 24px;
                border-radius: 18px;
                &:before {
                    display: none;
                }
            }  
        }
        .slideText {
            font-size: 20px;
        }
        .slider {
            grid-template-rows: 300px;
        }
        &_slideOne {
            padding-left: 10px;
            border-radius: 20px;
            .slideText {
                font-size: 22px;
                line-height: 26px;
                bottom: 75px;
                left: 60px;
            }
        }
        &_slideTwo {
            padding-left: 10px;
            &-2 {
                border-radius: 20px;
            }
        }
        &_slideThree {
            padding-left: 10px;
            &-3 {
                border-radius: 20px;
            }
        }
        .textBlock {
            left: -23%;
            &::before {
                left: 30px;
                top: -20px;
            }
        }
        .active {
            .textBlock {
                bottom: 40px;
                left: 15%;
            }
        }
    }
    .startSoon {
        &_card {
            grid-column: 3/11;
            &_picture {
                height: 339px;
                &::before {
                    display: none;
                }
                &:hover {
                    &::before {
                        transform: none;
                        transition: .2s all;
                        display: none;
                    }
                    img {
                        transform: none;
                        transition: .2s all;
                    }
                }
            }
            h4 {
                &:hover {
                    text-decoration: none;
                }
            }
        } 
    }
    .dreamJob {
        padding: 40px 0 60px 0;
        &_header {
            grid-column: 3/11;
            h2 {
                font-size: 33px;
                line-height: 45px;
                width: 345px;
            }
            &_enter {
                display: inline;
                white-space: normal;
                word-break: break-word;
            }
        }
        &_subscribe {
            margin-top: 35px;
            grid-column: 3/11;
            p {
                font-size: 18px;
                line-height: 32px;
                width: 353px;
            }
            &_enter {
                display: inline;
                white-space: normal;
                word-break: break-word;
            }
        }
        &_item {
            margin-right: 10px;
            margin-bottom: 107px;
            height: 120px;
            &_inform {
                margin-left: 20px;
                &-header {
                    font-size: 32px;
                    line-height: 38px;
                }
                &-descr {
                    margin-top: 16px;
                    font-size: 24px;
                    line-height: 29px;
                }
            }
            img {
                width: 65px;
            }
        }
        .dash {
            &::before {
                top: 130px;
                left: 37px;
                height: 89px;
            }
        }
        &_mainBlock {
            grid-template-rows: minmax(100px, auto) minmax(100px, auto);
        }
        &_benefits {
            margin-top: 48px;
            grid-row: 2/3;
            grid-column: 3/11;
            img {
                width: 78px;
            }
        }
        &_viewer {
            margin-top: 80px;
            grid-row: 1/2;
            grid-column: 3/11;
            &_experience {
                height: 80px;
                top: -40px;
                border-radius: 16px;
                padding-left: 20px;
                overflow: hidden;
                justify-content: start;
                h5 {
                    font-size: 40px;
                    line-height: 47px;
                }
                p {
                    margin-left: 10px;
                    font-size: 20px;
                    line-height: 24px;
                }
                span {
                    height: 53px;
                }
                .courses {
                    display: none;
                    margin-left: 20px;
                }
            }
            &-video {
                display: none;
            }
            img {
                display: block;
            }
            &::before {
                height: 102%;
            }
        }
    }
    .choosingProfession {
        padding: 40px 0;
        &_header {
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            grid-column: 3/11;
        }
        &_categories {
            display: none;
        }
    
        &_mobileCategory {
            display: block;
            grid-column: 2/12;
        }
        &_line {
            display: none;
        }
        &_card {
            grid-column: 2/6;
            padding: 0;
            margin-top: 40px;
            &-picture {
                height: 190px;
            }
            &-header {
                font-size: 22px;
                line-height: 22px;
                margin-top: 15px;
                text-align: center;
            }
            &-descr {
                font-size: 18px;
                line-height: 18px;
                margin-top: 6px;
                text-align: center;
            }
            &-two {
                margin-top: 40px;
                grid-column: 8/12;
            }
            &-three {
                margin-top: 40px;
                grid-column: 2/6;
            }
            &-four {
                margin-top: 40px;
                grid-column: 8/12;
            }
        }
    }
    .feedback {
        padding: 40px 0;
        overflow-x: hidden;
        &_header {
            font-size: 40px;
            line-height: 47px;
            br {
                display: initial;
            }
        }
        &_slider {
            grid-column: 1/15;
            margin-top: 40px;
            overflow-x: hidden;
            margin-right: -200px;
        }
        &_control {
            margin-top: 0px;
            display: none;
        }
        &_card {
            padding: 20px 20px;
            &-message {
                font-size: 20px;
                height: 195px;
            }
            &-who {
                h5 {
                    font-size: 22px;
                }
                span {
                    font-size: 18px;
                }
            }
            &-photo {
                img {
                    width: 76px;
                    height: 76px;
                }
            }
        }
    }
    .footer {
        padding-top: 40px;
        &_header {
            font-size: 18px;
            line-height: 24px;
        }
        &_categories {
            font-size: 12px;
            line-height: 24px;
        }
        &_subscribe {
            grid-column: 8/13;
            padding: 0;
            &-header {
                font-size: 20px;
                line-height: 24px;
            }
            &-form {
                margin-top: 20px;
                height: 40px;
            }
            &-email {
                height: 40px;
                border-radius: 10px;
                font-size: 12px;
                padding-left: 15px;
            }
            &-btn {
                height: 40px;
                width: 40px;
                border-radius: 10px;
                span {
                    font-size: 20px;
                    line-height: 20px;
                }
                &::before {
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                }
            }
        }
        &_line {
            margin-top: 25px;
            height: 1px;
        }
        &_underLine {
            height: 60px;
            p {
                font-size: 12px;
            }
        }
        &_social {
            gap: 20px;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
//------------------------------------------------------------576
@media (max-width: 576px) {
    body {
        width: 100vw;
    }
    .dropDown {
        width: 100%;
        height: 100vh;
        top: 0px;
        transition: .3s all;
        &_hamburger {
            top: 30px;
            right: 10px;
            &_active {
                top: 30px;
                right: 10px;
            }
        }
    }
    .container {
        max-width: 100%;
    }
    .header {
        &_logo {
            font-size: 28px;
            width: 200px;
        }
    }
    .firstScreen {
        padding-top: 200px;
        &_learnFor {
            left: 0;
            width: 100%;
            grid-column: 1/13;
            h1 {
                font-size: 50px;
                margin-top: -185px;
                width: 310px;
            }
        }
        &_go {
            height: 70px;
            width: 100%;
            padding-left: 15px;
            display: flex;
            margin-top: 360px;
            border-radius: 18px;
            &-choose {
                font-size: 18px;
                line-height: 21px;
            }
            &-go {
                width: 70px;
                font-size: 28px;
                border-radius: 18px;
            }
        }
        .textBlock {
            width: 45px;
            left: 50px;
            bottom: 40px;
            &::before {
                left: 30px;
                top: -20px;
            }
        }
        .slider-step2 {
            transition: none;
            grid-template-columns: repeat(3, 1fr);
        }
        .slider-step3 {
            transition: none;
            grid-template-columns: repeat(3, 1fr);
        }
        &_slider {
            margin-top: -40px;
            grid-column: 1/13;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 300px;
            overflow: hidden;
        }
        &_slideOne {
            padding-left: 10px;
            .slideText {
                font-size: 22px;
                line-height: 26px;
                bottom: 35px;
                left: 10px;
            }
            p {
                display: block;
            }
        }
        &_slideTwo {
            padding-left: 10px;
        }
        &_slideThree {
            padding-left: 10px;
        }
        .active {
            width: auto;
            transition: none;
            border-radius: 20px;
            .rotate {
                transition: none;
                transform: rotate(180deg);
            }
            .textBlock {
                width: 45px;
                left: 65%;
                bottom: 40px;
                &::before {
                    left: 30px;
                    top: -20px;
                }
            }
            
        }
    }
    .startSoon {
        .container {
            gap: 0px;
        }
        margin-top: 70px;
        h2 {
            margin-top: 7px;
            font-size: 33px;
            line-height: 45px;
        }
        span {
            margin-top: 7px;
            font-size: 16px;
            line-height: 16px;
        }
        &_card {
            margin-top: 40px;
            grid-column: 1/13;
            &_picture {
                height: 275px; 
            }
            &-two {
                img {
                    margin-top: -60px;
                }
            }
            h4 {
                margin-top: 20px;
            }
        }
    }
    .dreamJob {
        padding: 40px 0 40px 0;
        &_header {
            grid-column: 1/13;
            h2 {
                font-size: 31px;
                line-height: 45px;
                width: 293px;
            }
        }
        &_subscribe {
            margin-top: 30px;
            grid-column: 1/13;
            p {
                font-size: 15px;
                line-height: 27px;
                width: 293px;
                span {
                    display: none;
                }
            }
        }
        .one {
            p {
                font-size: 16px;
            }
        }
        .two {
            p {
                font-size: 15px;
            }
        }
        .three {
            p {
                font-size: 16px;
            }
        }
        &_item {
            margin-right: 10px;
            margin-bottom: 80px;
            height: 120px;
            justify-content: initial;
            &_inform {
                margin-left: 20px;
                &-header {
                    font-size: 25px;
                    line-height: 27px;
                }
                &-descr {
                    margin-top: 16px;
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            img {
                width: 65px;
            }
        }
        .dash {
            &::before {
                top: 125px;
                left: 37px;
                height: 71px;
            }
        }
        &_mainBlock {
            grid-template-rows: minmax(100px, auto) minmax(100px, auto);
        }
        &_benefits {
            margin-top: 48px;
            grid-row: 2/3;
            grid-column: 1/13;
            img {
                width: 78px;
            }
        }
        &_viewer {
            margin-top: 80px;
            grid-row: 1/2;
            grid-column: 1/13;
            &_experience {
                height: 80px;
                top: -40px;
                border-radius: 16px;
                padding-left: 15px;
                overflow: hidden;
                justify-content: start;
                h5 {
                    font-size: 38px;
                    line-height: 47px;
                }
                p {
                    margin-left: 10px;
                    font-size: 18px;
                    line-height: 24px;
                }
                span {
                    height: 53px;
                }
            }
        }
    }
    .choosingProfession {
        &_header {
            font-size: 35px;
            grid-column: 1/13;
        }
        &_categories {
            display: none;
        }
        &_mobileCategory {
            grid-column: 1/13;
        }
        &_line {
            display: none;
        }
        &_card {
            grid-column: 1/7;
            padding: 0 10px;
            margin-top: 20px;
            border-radius: 0px;
            &-picture {
                height: 190px;
                &::before {
                    height: 74%;
                    border-radius: 30px;
                }
            }
            &-overlay {
                border-radius: 0px;
            }
            img {
                height: 74%;
                border-radius: 15px;
            }
            &-header {
                font-size: 16px;
                line-height: 20px;
                margin-top: -40px;
                text-align: center;
            }
            &-descr {
                font-size: 14px;
                line-height: 14px;
                margin-top: 5px;
                text-align: center;
            }
            &-two {
                margin-top: 20px;
                grid-column: 7/13;
            }
            &-three {
                margin-top: 40px;
                grid-column: 1/7;
            }
            &-four {
                margin-top: 40px;
                grid-column: 7/13;
            }
        }
    }
    .feedback {
        padding: 30px 0;
        overflow-x: hidden;
        &_header {
            font-size: 33px;
            line-height: 40px;
            br {
                display: initial;
            }
        }
        &_slider {
            margin-top: 40px;
            overflow-x: hidden;
            margin-right: -150px;
        }
        &_control {
            margin-top: 0px;
            display: none;
        }
        &_card {
            padding: 15px 15px;
            &-message {
                font-size: 17px;
                line-height: 22px;
                height: 170px;
            }
            &-photo {
                margin-right: 10px;
            }
            &-who {
                h5 {
                    font-size: 18px;
                    line-height: 22px;
                }
                span {
                    font-size: 13px;
                    line-height: 15px;
                }
            }
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
    .footer {
        padding-top: 30px;
        &_header {
            grid-column: 1/13;
            font-size: 28px;
            line-height: 33px;
        }
        &_categories {
            margin-top: 5px;
            grid-column: 1/13;
            font-size: 18px;
            line-height: 29px;
            row-gap: 15px;
        }
        &_subscribe {
            grid-column: 1/13;
            margin-top: 18px;
            &-header {
                font-size: 28px;
                line-height: 33px;
            }
            &-form {
                margin-top: 24px;
                height: 50px;
            }
            &-email {
                height: 50px;
                border-radius: 10px;
                font-size: 15px;
                padding-left: 25px;
            }
            &-btn {
                height: 50px;
                width: 50px;
                border-radius: 10px;
                span {
                    font-size: 24px;
                    line-height: 24px;
                }
                &::before {
                    height: 50px;
                    width: 50px;
                    border-radius: 10px;
                }
            }
        }
        &_line {
            margin-top: 32px;
        }
        &_underLine {
            height: 60px;
            p {
                font-size: 15px;
            }
        }
        &_social {
            display: none;
        }
    }
}